<footer>
    <div class="f-info" style="width: 100%;">
        <div class="f-social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="f-company">
            <p><b>StayNext&nbsp; PVT Ltd.</b></p>
        </div>
        <div class="f-copy">
            <p>&copy; 2026 My Website. All rights reserved.</p>
        </div>
        <div class="f-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
