<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <div class="pink_user">
    <a class="navbar-brand" href="/profile"><i class="fa-solid fa-user-tie"></i>
    </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listing">Explore</a>
        <a class="nav-link" href="/listing/new">Add Listings</a>
      </div>

      <div class="navbar-nav ms-auto">
      <%  if (!currUser) { %>
              <a class="nav-link" href="/signup"><b>Sign Up</b><i class="fa-solid fa-user-plus" style="color: green;"></i></a>
              <a class="nav-link" href="/login"><b>Login In</b><i class="fa-solid fa-arrow-right-to-bracket" style="color: green;"></i></a>
      <%  } %>

      <% if (currUser) { %>
            <a class="nav-link" href="/logout"><b>Log Out</b><i class="fa-solid fa-right-from-bracket" style="color: rgb(238, 4, 4);"></i></a>
      <% } %>
      </div>
    </div>
  </div>
</nav>
